@media only screen and (max-width:600px) {
    .container1 {
        flex-direction: column;
        padding-top: 2rem;

    }

    .home {
        padding: 10;
    }

    .row img {
        flex-direction: column;
        display: grid;
    }

    .about-text p {
        font-size: 3vw;
    }

    .home-content {
        padding: 12px 44px;
    margin-left: -7px;
  }
    .contact {
        display: flex;
    }

    .contact-text h2 {
        font-size: 50px;
        text-align: left;
    }

    .contact-text h4 {
        font-size: 20px;
    }

    .contact-list p {
        font-size: 17px;
    }

    .contact-list {
        font-size: 20px;
    }

    .contact-list li {
        font-size: 17px;
    }

    .contact-icons i {
        width: 30px;
        height: 30px;
        align-items: center;
        
    }
  
}

@media (max-width: 700px) {
    .services-list {
        margin: -12px;
        grid-template-columns: minmax(100px, 2fr);
    }
}
@media (max-width: 768px) {
    body, html{
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
    .navbar{
        margin: 0;
        padding: 0;
    }
    .navbar-toggle{
        margin-right: 0;
    }
}


@media (max-width: 480px) {
.radial-bars .radial-bar .progress-line {
        font-size: 1.2rem;
        text-align: center;
        display: none;
    }

}

@media (max-width: 768px) {
    .radial-bars .radial-bar svg {
        gap: 8px;
        display: grid;
        top: 319%;
        left: 100%
    }

    h1.sub-title {
        text-align: center;
        font-size: 60px;
        margin: -5px -15px;
        margin-left: -15px;
        margin-left: -42px;
        padding-bottom: 49px;
    }

    .Technical-bars {
        display: grid;
        flex-direction: column;
        gap: 0px;
    }

    .Technical-bars .bar {
        margin: 6px 0;
    }

    .info {
        margin-right: 10px;
        flex-basis: 0px;
    }

    .heading1 {
        margin-bottom: 17px;
    }

    .radial-bar .text {
        top: 360%;
        text-align: center;
        left: 100%;
    }

    .radial-bar .percentage {
        position: absolute;
        top: 545px;
        left: 100%;
    }
}

@media (min-width: 840px) {
   .portfolio-content {
        flex-direction: row;
        margin-right: 9px;

    }


}

/* Responsive Styles */
@media (min-width:992px) {
    .navbar i {
        display: none;
    }
}

@media (max-width: 768px) {
    .navbar {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: rgb(52, 52, 155);
    }
}

@media (max-width: 768px) {
    .navbars {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: rgb(52, 52, 155);
    }

    .navbar.show {
        display: flex;
    }

    .navbar a {
        padding: 1rem;
        display: flex;
        text-align: right;
    }

    .navbar a:last-child {
        border-bottom: 1px solid #444;
    }

    .menu-toggle {
        display: block;
    }
}

@media (min-width: 768px) {
    .about {
        flex-direction: row;
        justify-content: space-between;
        text-align: left;
    }

    .about-img,
    .about-text {
        flex: 1;
        margin: 0 10px;
    }

    .about-img {
        margin-bottom: 0;

    }

    .govind-img {
        width: 700px;
    }

    /* .about {
        flex-direction: row-reverse;
        
    } */
    .home {
        flex-direction: row-reverse;
    }

    .home div img {
        margin-left: -50px;
    }
}

@media (max-width: 767px) {
    .about {
        padding: 30px 15px;
    }

    .about-img img {
        border-radius: 0;
        width: 128%;
        margin-left: -57px;
        height: auto;
    }

    .about-text {
        padding: 0;
        margin-top: -66px;
    }
}

@media (min-width: 768px) {
    .Technical-bars {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
    }

    .bar {
        flex: 1 1 calc(33.333% - 20px);
        align-items: center;
    }

    .radial-bars {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
    }

    .radial-bar {
        flex: 1 1 calc(25% - 20px);
    }
}

@media (max-width: 767px) {
    .Technical-bars {
        flex-direction: column;
    }

    .bar {
        flex-direction: column;
        align-items: flex-start;
    }

    .info {
        margin-right: 0;
        margin-bottom: 5px;
    }

    .progress-line {
        width: 100%;
    }

    .radial-bars {
        flex-direction: column;
        top: -458px;
    }

    .radial-bar {
        width: 100%;
    }

    .percentage {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .home {
        padding: 50px 5% 0;
        height: auto;
        /* Adjust height for better mobile display */
    }

    .home-content h3 {
        font-size: 28px;
        animation-delay: .5s;
    }

    .home-content h1 {
        font-size: 48px;
        animation-delay: .7s;
    }

    .home-content p {
        font-size: 18px;
        animation-delay: .7s;
    }

    .home-sci a {
        width: 35px;
        height: 35px;
        font-size: 18px;
        margin: 20px 10px 20px 0;
    }
}

@media (max-width: 768px) {
    .home {
        padding: 50px 5% 0;
        height: auto;
    }

    .home-content h3 {
        font-size: 28px;
        animation-delay: .5s;
    }

    .home-content h1 {
        font-size: 48px;
        animation-delay: .7s;
    }

    .home-content p {
        font-size: 18px;
        animation-delay: .7s;
    }

    .home-sci a {
        width: 35px;
        height: 35px;
        font-size: 18px;
        margin: 10px;
    }

    .btn-box {
        font-size: 16px;
        padding: 8px 16px;
    }
}

@media (max-width: 480px) {
    .home {
        padding: 30px 2%;
    }

    .home-content h3 {
        font-size: 24px;
        animation-delay: .3s;
    }

    .home-content h1 {
        font-size: 36px;
        animation-delay: .5s;
    }

    .home-content p {
        font-size: 16px;
        animation-delay: .5s;
    }

    .home-sci a {
        width: 30px;
        height: 30px;
        font-size: 16px;
        margin: 5px;
    }

    .btn-box {
        font-size: 14px;
        padding: 6px 12px;
    }
}

@media (max-width: 480px) {
    section{
        padding: 2px;
    }
    .container1 {
        width: 600px;
        height: 80px;
    }
    .home {
        padding: 30px 2%;
        background-position: right;
    }

    .home-content h3 {
        font-size: 24px;
        animation-delay: .3s;
    }

    .home-content h1 {
        font-size: 36px;
        animation-delay: .5s;
    }

    .home-content p {
        font-size: 16px;
        animation-delay: .5s;
    }

    .home-sci a {
        width: 30px;
        height: 30px;
        font-size: 16px;
        margin: 15px 8px 15px 0;
    }
    .project-group{
    display: flex;
    flex-direction: column;
    
    }
    .project-box{
        margin-left: 1rem;
    }
    .project-single video{
     width: 334px;
    }
    .project-single img{
     width: 334px;
    }
}

